<html lang="en">
<%- include ("components/head") %>

<body>
    <%- include ("components/header") %>

    <h1>Info book</h1>

    <section id="bookInfo"></section>
</body>

<script src="../js/fetch.class.js"></script>
<script src="../js/book.js"></script>

</html>