<!DOCTYPE html>
<html lang="en">
<!-- views/pages/index.ejs -->
<%- include ("components/head") %>

<body>
    <%- include ("components/header") %>

    <form action="/" method="post" id="registerForm">
        <div>
            <label>Nom :</label>
            <input type="text" name="registerName" value="alex" />
            <br />
        </div>
        <div>
            <label>Email :</label>
            <input type="text" name="registerEmail" value="alex@gmail.com" />
            <br />
        </div>
        <div>
            <label>Mot de passe :</label>
            <input type="password" name="registerPassword" value="azertyuiop" />
        </div>
        <div>
            <input type="submit" value="S'enregistrer" />
        </div>
    </form>
    <form action="/" method="post" id="loginForm">
        <div>
            <label>Email:</label>
            <input type="text" name="loginEmail" value="alex@gmail.com" />
            <br />
        </div>
        <div>
            <label>Mot de passe:</label>
            <input type="password" name="loginPassword" value="azertyuiop" />
        </div>
        <div>
            <input type="submit" value="Se connecter" />
        </div>
    </form>

    <hr>


    <main>
        <form action="#" id="searchForm">
            <h3>Rechercher un livre, un auteur, etc.. </h3>
            <div>
                <input type="text" name="searchFormData" id="searchFormData" minlength="2" value="karine giebel" />
            </div>
            <button id="searchButton">Rechercher</button>
        </form>
        <section id="bookList"></section>
    </main>
</body>
<script src="js/fetch.class.js"></script>
<script src="js/home.js"></script>

</html>