<html lang="en">
<%- include ("components/head") %>

<body>
    <%- include ("components/header") %>

    <h1>Mon profil</h1>

    <section id="myBookmarks">
        <div id="bookmarksFavorite">

        </div>
        <div id="bookmarksHaveRead">

        </div>
        <div id="bookmarksReading">

        </div>
        <div id="bookmarksToBuy">

        </div>
        <div id="bookmarksToSell">

        </div>
    </section>
</body>

<script src="../js/fetch.class.js"></script>
<script src="../js/profil.js"></script>

</html>