<html lang="en">
<%- include ("components/head") %>

<body>
    <%- include ("components/header") %>

    <h1>Mon profil</h1>

    <section id="myBookmarks">
        <div id="bookmarksFavorite" data-section="favorite">
            <h3>Mes favoris</h3>
        </div>
        <div id="bookmarksHaveRead" data-section="have_read">
            <h3>A lire</h3>

        </div>
        <div id="bookmarksReading" data-section="reading">
            <h3>En cours de lecture</h3>
        </div>
        <div id="bookmarksToBuy" data-section="to_buy">
            <h3>A acheter</h3>
        </div>
        <div id="bookmarksToSell" data-section="to_sell">
            <h3>A vendre</h3>
        </div>
    </section>
</body>

<script src="../js/fetch.class.js"></script>
<script src="../js/profil.js"></script>

</html>